/* ==== BROWSER RESETS  ==== */
* { box-sizing: border-box; padding: 0; margin: 0 }
body, html { height: 100% }
body { max-width: 1600px; margin: 0 auto }


/* ==== UTILITY CLASS  ==== */
.img-fluid { width: 100%; height: auto }
* { margin:0; padding:0; box-sizing: border-box }

/*

h1 { font-size: calc(36px + (72 - 36) * ((100vw - 320px)/ (1600 - 320))); }

*/




/* === HERO BLOCK 1 === */

.hero-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0065f2;
}

.hero-block-1 h1, .hero-block-1 h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.hero-block-1 h1 {
    font-size: calc(36px + (72 - 36) * ((100vw - 320px)/(1600 - 320)));
}

.hero-block-1 h2 {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px)/(1600 - 320)));
}


/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-1 { height: 480px; margin-bottom: 80px }
    .hero-block-1 h1, .hero-block-1 h2 { 
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-1 h1 { margin-bottom: 4% }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-1 { height: 360px; margin-bottom: 40px }
    .hero-block-1 h1, .hero-block-1 h2  {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-1 h1 { margin-bottom: 10% } 
}


/* === HERO BLOCK 2 === */

.hero-block-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #78d8da;
}

.hero-block-2 h1, .hero-block-2 h2 {
    text-align: left;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    
}

.hero-block-2 h1 {
    font-weight: bold;
    font-size: calc(32px + (84 - 32) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-2 h2 {
    font-weight: normal;
    line-height: 1.5;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));

}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-2 { height: 480px; margin-bottom: 80px }
    .hero-block-2 h1, .hero-block-2 h2 { 
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-2 h1 { margin-bottom: 4% }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-2 { height: 360px; margin-bottom: 40px }
    .hero-block-2 h1, .hero-block-2 h2  {
        width: 80%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-2 h1 { margin-bottom: 10% } 
}




/* === HERO BLOCK 3 === */
.hero-block-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6e58d;
}

.hero-block-3 h1, .hero-block-3 h2 {
    text-align: left;
    color: #273c75;
    font-weight: bold;
    font-family: 'Merriweather', sans-serif;
}

.hero-block-3 h1 {
    font-weight: bold;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-3 h2 {
    font-weight: normal;
    line-height: 1.5;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));

}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-3 { height: 480px; margin-bottom: 80px }
    .hero-block-3 h1, .hero-block-3 h2 { 
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-3 h1 { margin-bottom: 1% }
    .hero-block-3 h2 { margin-bottom: 0 }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-3 { height: 360px; margin-bottom: 40px }
    .hero-block-3 h1, .hero-block-3 h2  {
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-3 h1 { margin-bottom: 5% } 
    .hero-block-3 h2 { margin-bottom: 0 }
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-17 20:58:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #f6e58d;
    }
    100% {
      background: #f1c40f;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #f1c40f;
    }
  }
  




/* === HERO BLOCK 4 === */

.hero-block-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(#512d6d,#c42f9e);
}

.hero-block-4 h1, .hero-block-4 h2 {
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.hero-block-4 h1 {
    font-weight: bold;
    font-size: calc(32px + (72 - 32) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-4 h2 {
    font-weight: normal;
    line-height: 1.5;
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));

}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-4 { height: 480px; margin-bottom: 80px }
    .hero-block-4 h1, .hero-block-4 h2 { 
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-4 h1 { margin-bottom: 1% }
    .hero-block-4 h2 { margin-bottom: 0 }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-4 { height: 360px; margin-bottom: 40px }
    .hero-block-4 h1, .hero-block-4 h2  {
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-4 h1 { margin-bottom: 5% } 
    .hero-block-4 h2 { margin-bottom: 0 }
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-17 20:58:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #f6e58d;
    }
    100% {
      background: #f1c40f;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #f1c40f;
    }
  }




/* === HERO BLOCK 5 === */

.hero-block-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/sunsethotel.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat:  no-repeat;
}

.hero-block-5 h1, .hero-block-5 h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px #222;
}

.hero-block-5 h1 {
    font-weight: bold;
    font-size: calc(54px + (112 - 54) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-5 h2 {
    line-height: 1.5;
    font-size: calc(24px + (64 - 24) * ((100vw - 320px)/(1600 - 320)));

}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-5 { height: 480px; margin-bottom: 80px }
    .hero-block-5 h1, .hero-block-5 h2 { 
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-5 h1 { margin-bottom: 1% }
    .hero-block-5 h2 { margin-bottom: 0 }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-5 { height: 360px; margin-bottom: 40px }
    .hero-block-5 h1, .hero-block-5 h2  {
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-5 h1 { margin-bottom: 5% } 
    .hero-block-5 h2 { margin-bottom: 0 }
}
.color-change-2x {
	-webkit-animation: color-change-2x 2s linear infinite alternate both;
	        animation: color-change-2x 2s linear infinite alternate both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-7-17 20:58:11
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
 @-webkit-keyframes color-change-2x {
    0% {
      background: #f6e58d;
    }
    100% {
      background: #f1c40f;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #19dcea;
    }
    100% {
      background: #f1c40f;
    }
  }




/* === HERO BLOCK 6 === */

.hero-block-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/bike-tours.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat:  no-repeat;
}

.hero-block-6 h1, .hero-block-6 h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Monserrat', sans-serif;
    text-shadow: 2px 2px #222;
}

.hero-block-6 h1 {
    font-weight: bold;
    font-size: calc(54px + (112 - 54) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-6 h2 {
    font-weight: bold;
    line-height: 1.5;
    font-size: calc(22px + (64 - 22) * ((100vw - 320px)/(1600 - 320)));
    text-transform: uppercase;


}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-6 { height: 480px; margin-bottom: 80px }
    .hero-block-6 h1, .hero-block-6 h2 { 
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-6 h1 { margin-bottom: 5% }
    .hero-block-6 h2 { margin-bottom: 0 }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-6 { height: 360px; margin-bottom: 40px }
    .hero-block-6 h1, .hero-block-6 h2  {
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-6 h1 { margin-bottom: 5% } 
    .hero-block-6 h2 { margin-bottom: 0 }
}


  
  
/* === HERO BLOCK 7 === */

.hero-block-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../img/geek.png');
    background-position: center center;
    background-size: cover;
    background-repeat:  no-repeat;
}

.hero-block-7 h1, .hero-block-7 h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Monserrat', sans-serif;
    text-shadow: 2px 2px #6ab04c;
}

.hero-block-7 h1 {
    font-weight: bold;
    font-size: calc(20px + (112 - 20) * ((100vw - 320px)/(1600 - 320)));
    
}

.hero-block-7 h2 {
    font-weight: bold;
    line-height: 1.5;
    font-size: calc(20px + (64 - 20) * ((100vw - 320px)/(1600 - 320)));
    text-transform: uppercase;


}

/* Desktop - height and bottom margin, text width */
@media all and (min-width:768px) { 
    .hero-block-7 { height: 480px; margin-bottom: 80px }
    .hero-block-7 h1, .hero-block-7 h2 { 
        width: 60%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-7 h1 { margin-bottom: 5% }
    .hero-block-7 h2 { margin-bottom: 0 }
}

/* Mobiles - height and bottom margin, text width */
@media all and (max-width:767px) { 
    .hero-block-7 { height: 360px; margin-bottom: 40px }
    .hero-block-7 h1, .hero-block-7 h2  {
        width: 70%; 
        margin-left: auto;
        margin-right: auto;
    }
    .hero-block-7 h1 { margin-bottom: 5% } 
    .hero-block-7 h2 { margin-bottom: 0 }
}






/* === HERO BLOCK 8 === */


.hero-block-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-block-8 h1, .hero-block-8 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4
}

.hero-block-8 h1 {
    font-size: calc(38px + (68 - 38) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1
}

.hero-block-8 h2 {
    font-size: calc(18px + (32 - 18) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5
}

/* Desktop  */
@media all and (min-width:768px) {
    .hero-block-8 { 
        background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../img/stormy-beach.jpg');
        height: 480px; margin-bottom: 80px
    }
    .hero-block-8 h1, .hero-block-8 h2 { 
        text-align: left;
        width: 40%;
        margin-left: 10%;
        color: #000;
    }
    .hero-block-8 h1 { margin-bottom: 5% } 
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-8 { 
        background-image: url('../img/stormy-beach-mobile.jpg');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-8 h1, .hero-block-8 h2 { 
        text-align: center;
        width: 90%;
        font-family: #fff;
        text-shadow: 2px 2px #222;
    }
    .hero-block-8 h1 { margin-bottom: 18% }
    .hero-block-8 h2 { 
        background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
        padding: 14px 10px;
        width: 80%;
    } 
}




/* === HERO BLOCK 9 === */

.hero-block-9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('../img/plants.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-block-9 h1, .hero-block-9 h2 {
    font-family: 'Playfair Display', serif;
    color: #000;
    font-weight: bold;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4
}

.hero-block-9 h1 {
    font-size: calc(42px + (68 - 42) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1
}

.hero-block-9 h2 {
    font-size: calc(22px + (32 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5
}

/* Desktop  */
@media all and (min-width:768px) {
    .hero-block-9 { height: 480px; margin-bottom: 80px }
    .hero-block-9 h1, .hero-block-9 h2 { width: 40%; margin-left: 10% }
    .hero-block-9 h1 { margin-bottom: 5% }
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-9 { height: 440px; margin-bottom: 40px }
    .hero-block-9 h1, .hero-block-9 h2 { width: 80% }
    .hero-block-9 h1 { margin-bottom: 12% }
}






/* === HERO BLOCK 10 === */

.hero-block-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-block-10 h1, .hero-block-10 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222;
}

.hero-block-10 h1 {
    font-size: calc(44px + (68 - 44) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1;
    text-transform: uppercase;
}

.hero-block-10 h2 {
    font-size: calc(22px + (38 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.5;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    padding: 12px
}

/* Desktop  */
@media all and (min-width:768px) {
    .hero-block-10 { 
        background-image: url('../img/learn-english.png');
        height: 480px; margin-bottom: 80px }
    .hero-block-10 h1, .hero-block-10 h2 { width: 40%; margin-left: 50% }
    .hero-block-10 h1 { margin-bottom: 2% } 
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-10 { 
        background-image: url('../img/learn-english-mobile.png');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-10 h1, .hero-block-10 h2 { text-align: center; width: 80% }
    .hero-block-10 h1 { margin-bottom: 12% }
}





/* === HERO BLOCK 11 === */

.hero-block-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-block-11 h1, .hero-block-11 h2 {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-shadow: 2px 2px #222;
}

.hero-block-11 h1 {
    font-size: calc(44px + (68 - 44) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1;
    text-transform: uppercase;
}

.hero-block-11 h2 {
    font-size: calc(22px + (38 - 22) * ((100vw - 320px)/(1600 - 320)));
    line-height: 1.1;
    background-image: linear-gradient(rgba(255,0,0,0.5),rgba(255,0,0,0.5));
    padding: 12px
}

/* Desktop  */
@media all and (min-width:768px) {
    .hero-block-11 { 
        background-image: url('../img/beach-holiday.jpg');
        height: 480px; margin-bottom: 80px
    }
    .hero-block-11 h1, .hero-block-11 h2 { 
        width: 40%; margin-left: 50%; text-align: left
    }
    .hero-block-11 h1 { margin-bottom: 2% }
}

/* Mobiles */
@media all and (max-width:767px) {
    .hero-block-11 { 
        background-image: url('../img/beach-holiday-mobile.jpg');
        height: 440px; margin-bottom: 40px
    }
    .hero-block-11 h1, .hero-block-11 h2 { 
        text-align: center;
        width: 80%;
    }
    .hero-block-11 h1 { margin-bottom: 12% }
}







