/* ==== BROWSER RESETS  ==== */
* { padding: 0; margin: 0; border: 0; font-weight: normal; font-size: 16px }
body, html { height: 100% } 
body { max-width: 1600px; margin: 0 auto }
img { display: block; width: 100%; height: auto }


/* ==== BODY ==== */
body { 
    background-image:url(../img/wall.jpg);
    background-attachment: fixed;
    background-position: center;
}

/* ==== WRAPPER  ==== */
/* ==== FIXED BACKGROUND  ==== */
/* ==== SCROLL BACKGROUND  ==== */

/* ==== HYPERLINK SCROLL EFFECT ==== */
html { 
    box-sizing: border-box; scroll-behavior: smooth; 
}

  


  
    

/* ==== MAIN HEADING  ==== */
h1 {
    font-family: serif;
    font-weight: normal;
    text-align: center;
    font-size: calc(36px + (54 - 36) * ((100vw - 320px)/(1600 - 320)));
    letter-spacing: -1px;
    color:#2980b9; 
 }

 /* ==== SUB HEADINGS ==== */
h2, 
h3, 
h4 { font-family: 'Ubuntu', sans-serif; font-weight: bold; line-height: 1.2;}



h2 { letter-spacing: 1px; text-transform: uppercase }

h2 {
  font-size: calc(18px + (22 - 18) * ((100vw - 320px)/(1600 - 320)));
  color: #e1b12c;
  text-shadow: 0 0 3px #FF0000;
  
}

h3 {
  font-size: calc(20px + (20 - 16) * ((100vw - 320px)/(1600 - 320)));
  color: #e84118;
  text-shadow: 0 0 3px #FF0000;
}

h4 {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px)/(1600 - 320)));
  color: #C4E538;
  text-shadow: 0 0 3px #FF0000;
}



/* Mobiles */
@media all and (max-width:767px) {
    h1 { 
        line-height: 1.1;
        width: 90%;
        margin: 10% 5%;
        
    }
}

/* Desktop */
@media all and (min-width:768px) {
    h1 { 
        line-height: 1.2;
        width: 90%;
        margin: 5%;
        
    }
}

/* ==== PAGE WIDTH  ==== */

/* Mobiles */
@media all and (max-width:767px) {
    body {
       padding-left: 5%;
       padding-right: 5%
    }
}

/* Desktop */
@media all and (min-width:768px) {
    body {
       padding-left: 20%;
       padding-right: 20%
    }
}




/* ==== SUB-HEADING ==== */
/* Desktop */
@media all and (min-width:768px) {
    h2 { margin-top: 5% }
    h3 { margin-top: 3% }
    h4 { margin-top: 1.5% }
    
}

/* Mobiles */
@media all and (max-width:767px) {
    h2 { margin-top: 10% }
    h3 { margin-top: 1% }
    h4 { margin-top: 1% }
}


/* ==== PARAGRAPH TEXT ==== */

p { 
    font-family: 'Ubuntu', sans-serif;
    font-size: calc(17px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));	
    color: #6ab04c;
    text-shadow: 0 0 1px #eb4d4b;
 }
 
 /* Mobiles */
 @media all and (max-width:767px) {
    p  { line-height: 1.4; margin-bottom: 5% }
  }
 
 /* Desktop */
 @media all and (min-width:768px) {
    p { line-height: 1.6; margin-bottom: 3% }
  }


  /* ==== BULLETS ==== */

ul li, ol li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: calc(15px + (18 - 15) * ((100vw - 320px)/(1600 - 320)));
    color:#f39c12;
}

/* Mobiles */
@media all and (max-width:767px) {
    ul, ol { margin-left: 5% }
    ul li, ol li {
       line-height: 1.4;
       margin-bottom: 5%;
    }
}
 
/* Desktop */
@media all and (min-width:768px) {
    ul, ol { margin-left: 2% }
    ul li, ol li {
       line-height: 1.6;
       margin-bottom: 3%;
    }
}



/* ==== IMAGES ==== */
 /* Mobiles */
 @media all and (max-width:767px) {
    img { margin-bottom: 4% }
}

/* Desktop */
@media all and (min-width:768px) {
    img { margin-bottom: 1% }
}


/* ==== HYPERLINK ==== */

a {
    color: #cc0000;
    }
    
    a:link {
    color: #cc0000;
    }
    a:visited {
    color: #999999;
    }
    a:hover {
    color: #ff3300;
    }
    
    div#my_container a {
    color: #cc0000;
    }
    
    p.my_class a {
    color: #cc0000;
    }
    
    ul.my_list a {
    color: #cc0000;
    }

/* ==== BTN HYPERLINK ==== */

a.btn:link, .btn:visited, a.btn:hover, a.btn:active { 
    text-decoration: none;
    color: inherit;
    border-style: solid;
    border-width: 2px;
    padding: 12px 24px;
    display: inline-block;
    margin: 20px 40px 20px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1px;
    line-height: 1;
 }

 a.btn-solid:link, .btn-solid:visited {
    border-color: blue;
    background-color: blue;
    color: #fff
} 

a.btn-solid:hover, .btn-solid:active {
    border-color: green;
    background-color: green;
    color: #fff
}

a.btn-ghost:link, .btn-ghost:visited {
    border-color: #b8e994;
    background-color:transparent;
    color: #b8e994;
} 

a.btn-ghost:hover, .btn-ghost:active {
    border-color: #eb2f06;
    background-color: transparent;
    color: #eb2f06;
}


a.btn-soft { border-radius: 5px; }
a.btn-round { border-radius: 25px ;}